{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}
{% block content %}


<style>
.image-section {
    position: relative;
    background-image: url('{% static "assets/images/back133.jpg" %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    padding-left: 20px;
  
}

.section-title {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    
}
.section-title a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.7s ease;
}
.section-title a:hover{
    color: rgb(51, 51, 51);
    text-decoration: none;
}
</style>

<section class="image-section">

    
    <div class="culmn">
        <div class="overlay">
            <h1 class="section-title"><img src="{% static 'assets/images/logo.png' %}" width="200" alt=""><a href="{% url 'home' %}" style="font-weight: 100; font-size: 20px;">Home</a> / <strong >Gallery</strong></h1>
        </div>
        <section id="gallery" class="gallery margin-top-120 bg-grey" style="margin-top: 100px;">
            <div class="container">
                <div class="row">
                    <div class="main-gallery roomy-80">
                        <div class="sec-title">
                            <div class="three d-flex justify-content-center mb-5" >
                                <h1>Our Top Videos</h1>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                        <div class="video-grid">
                            {% for video in videos %}
                                <div class="video-item">
                                    {% if video.video %}
                                        <div class="video-player">
                                            {% video video.video 'medium' %}
                                        </div>
                                    {% else %}
                                        <p>No video available.</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- scroll up-->
        <!-- <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div> -->
    </div>
    
</section>


{% endblock content %}
     