{% load static %}

<footer id="footer" class="footer bg-mega">
    <div class="container">
        <div class="row">
            <div class="main_footer p-top-40 p-bottom-30">
                <div class="col-md-6 text-left sm-text-center">
                    <p class="wow fadeInRight" data-wow-duration="1s">
                        Created by <strong><a href="{% url 'home' %}">Vivid Vision</a></strong> 
                        2024. All Rights Reserved.
                    </p>
                </div>
                <!-- <div class="col-md-6 text-right sm-text-center sm-m-top-20">
                    <ul class="list-inline">
                        <li><a href="">LinkedIn</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="https://wa.me/96893379835">WhatsApp</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</footer>