{% load static %}

<nav class="navbar navbar-default navbar-fixed white no-background bootsnav text-uppercase">
    <!-- Start Top Search -->
    <!-- <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div> -->
    <!-- End Top Search -->

    <div class="container">    
        <!-- Start Atribute Navigation -->
        <!-- <div class="attr-nav">
            <ul>
                <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                        <i class="fa fa-shopping-bag"></i>
                        <span class="badge">3</span>
                    </a>
                    <ul class="dropdown-menu cart-list">
                        <li>
                            <a href="#" class="photo"><img src="{% static 'assets/images/thumb01.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static 'assets/images/thumb01.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static 'assets/images/thumb01.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                        </li>
                        
                        <li class="total">
                            <span class="pull-right"><strong>Total</strong>: $0.00</span>
                            <a href="#" class="btn btn-cart">Cart</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>         -->
        <!-- End Atribute Navigation -->

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}" style="margin-left: 70px; margin-top: -30px;">

                <img src="{% static 'assets/images/logoo.png' %}" class="logo logo-display" alt="">
                <img src="{% static 'assets/images/logo2.png' %}" class="logo logo-scrolled" alt="">

            </a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp" style="margin-top: 30px;">
                <li><a href="{% url 'home' %}">home</a></li> 
                <li><a href="{% url 'about' %}">about</a></li> 							                   
                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                <li><a href="{% url 'service' %}">Service</a></li> 							
                <li><a href="{% url 'contactus' %}">contact</a></li>                    
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>  


</nav>



























<!-- 
<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/20.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>

<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/8.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>

<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/12.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>
<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/15.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>
<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/17.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>
<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/16.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>


<div class="grid-item transition">
    <video  style="border-radius: 20px;">
        <source src="{% static 'assets/videos/1.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>

<div class="grid-item" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/2.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>

<div class="grid-item post-transition metal numberGreaterThan50">
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/3.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>

<div class="grid-item alkali ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/4.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>

<div class="grid-item post-transition metal ium" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/5.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>


<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/7.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>

<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/9.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>
<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/10.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>
<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/11.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>

<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/13.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>
<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/14.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>


<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/18.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div>
<div class="grid-item metal ar" >
    <video style="border-radius: 20px;">
        <source src="{% static 'assets/videos/19.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="grid_hover_area text-center">
        <div class="grid_hover_text">
            <button  class="round-button"></button>
        </div>
    </div>
</div> -->














 <!-- <div class="parent text-center">
    {% for video in videos %}
        <div class="grid-item metal ar" >
            <video style="border-radius: 20px;">
                <source src="{{ video.video_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="grid_hover_area text-center">
                <div class="grid_hover_text">
                    <button  class="round-button"></button>
                </div>
            </div>
        </div>
    {% endfor %}
</div> -->
























<!-- <div class="row grid models text-center"> -->
    <!-- Street Style -->
    <!-- {% for image in images_by_category.street %}
        <div class="grid-item model-item street">
            <img alt="Street Style" src="{{ image.image.url }}">
        </div>
    {% endfor %} -->

    <!-- Advertisement -->
    <!-- {% for image in images_by_category.advertisement %}
        <div class="grid-item model-item advertisement">
            <img alt="Advertisement" src="{{ image.image.url }}">
        </div>
    {% endfor %} -->

    <!-- Fashionista -->
    <!-- {% for image in images_by_category.fashionista %}
        <div class="grid-item model-item fashionista">
            <img alt="Fashionista" src="{{ image.image.url }}">
        </div>
    {% endfor %} -->

    <!-- Artist -->
    <!-- {% for image in images_by_category.artist %}
        <div class="grid-item model-item artist">
            <img alt="Artist" src="{{ image.image.url }}">
        </div>
    {% endfor %}
</div> -->